* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url(../Font/Oswald-VariableFont_wght.ttf);
}

.container__main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.container__tablero{
    
    display: flex;
    flex-wrap: wrap;
    width: 9rem;
    height: 9rem;
    border: 20px solid #333333 ;
    justify-content: center;
    


}
.tablero{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem; 
    justify-content: center;
}


.casilla__negra{
    
    background-color: #999999 ;
}
.container__casilla{
    text-align: center;
    font-size: 0.8rem;
    vertical-align: middle;
    width: 12.5%;
    height: 12.5%;
}

@keyframes rotation{
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(180deg);
    }
    
}
.container__checkbox{
    transform: scale(1.5);
    margin: 10px;

}

.container__checkbox:checked~.tablero{
    animation: rotation ease-out;
    animation-duration:  1s;
    animation-fill-mode: forwards;
    
}

.container__checkbox:checked~.tablero .container__tablero .container__casilla{
    animation: rotation ease-out;
    animation-duration:  1s;
    animation-fill-mode: forwards;
}
  
.fuente{
    font-family: 'Oswald', sans-serif;
}

.footer {
    width: 100%;
}

.footer__div {
    
    width: 100%;
    height: 100px;
    background-color: #1b1c20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.footer__p {
    color: #9c9c9c;
}

@media (min-width:480px ){
    .container__tablero{
        width: 23rem;
        height: 23rem;
        
    }
    .container__casilla{
        font-size: 2rem;
    }
    
}

@media (min-width:1024px ){
    .container__tablero{
        width: 30rem;
        height: 30rem;
        
    }
    .container__casilla{
        font-size: 2.3rem;
    }
    
}

@media (min-width:1440px){
    .container__tablero{
        width: 35rem;
        height: 35rem;
        
    }
    .container__casilla{
        font-size: 2.7rem;
    }
    
}