* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url(../Font/Oswald-VariableFont_wght.ttf);
}

.header__img {
    width: 7rem;
}
.header__hamburguesa {
    display: none;
}

.header__hamburguesa-icono {
    display: none;
    position: relative;
    left: 55%;
    font-size: 2rem;
}

.header__hamburguesa-icono__x {
    display: none;
    position: relative;
    left: 55%;
    font-size: 3rem;
}







.header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: orange;
    width: 100%;
    padding: 1rem;
    background-color: white;
}

.header__nav {
    display: inline-flex;
}

.header__nav-links {
    margin: 0.5rem;
    text-decoration: none;
    color: #1b1c20;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
}


/* hover para los enlaces de navegacion */

.header__nav-container:hover {
    background-color: #1b1c20;
}

.header__nav-container:hover>.header__nav-links {
    color: white;
    text-decoration: underline;
}

.header__logos {
    display: flex;
    margin: 1rem;
}

.header__logos-imagen {
    background-size: cover;
    margin: 0.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: black 1rem;
}



.header__logos-imagen:hover {
    transform: scale(1.25);
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}


@media (max-width: 1044px) {
    
    .header {
        display: inline-block;
    }
    .header__nav {
        display: none;
    }
    .header__logos {
        display: none;
        margin: 0;
    }
    .header__hamburguesa {
        display: inline;
        visibility: hidden;
    }
    .header__hamburguesa-icono {
        display: inline;
    }
    .header__hamburguesa:checked~.header__nav {
        display: block;
    }
    .header__hamburguesa:checked~.header__logos {
        display: inline-flex;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono__x {
        display: inline;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono {
        display: none;
    }
}


.container__main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.container__tablero{
    
    display: flex;
    flex-wrap: wrap;
    width: 9rem;
    height: 9rem;
    border: 10px solid #333333 ;
    justify-content: center;
    


}
.tablero{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem; 
    justify-content: center;
}


.casilla__negra{
    
    background-color: #999999 ;
}
.container__casilla{
    text-align: center;
    font-size: 0.6rem;
    vertical-align: middle;
    width: 12.5%;
    height: 12.5%;
}

@keyframes rotation{
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(180deg);
    }
    
}
.container__checkbox{
    transform: scale(1.5);
    margin: 10px;

}

.container__checkbox:checked~.tablero{
    animation: rotation ease-out;
    animation-duration:  1s;
    animation-fill-mode: forwards;
    
}

.container__checkbox:checked~.tablero .container__tablero .container__casilla{
    animation: rotation ease-out;
    animation-duration:  1s;
    animation-fill-mode: forwards;
}
  
.fuente{
    font-family: 'Oswald', sans-serif;
}

.footer {
    width: 100%;
}

.footer__div {
    
    width: 100%;
    height: 100px;
    background-color: #1b1c20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.footer__p {
    color: #9c9c9c;
}

@media (min-width:480px ){
    .container__tablero{
        width: 23rem;
        height: 23rem;
        border: 20px solid #333333 ;
        
    }
    .container__casilla{
        font-size: 2rem;
    }
    
}

@media (min-width:1024px ){
    .container__tablero{
        width: 30rem;
        height: 30rem;
        border: 25px solid #333333 ;
        
    }
    .container__casilla{
        font-size: 2.3rem;
    }
    
}

@media (min-width:1440px){
    .container__tablero{
        width: 35rem;
        height: 35rem;
        border: 35px solid #333333 ;
    }
    .container__casilla{
        font-size: 2.7rem;
    }
    
}