
@font-face {
    font-family: 'Oswald';
    src: url(Oswald-ExtraLight.ttf)
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    width: auto;
    height: 80px;
    background: #ffffff;
    border-bottom: solid #E68046 2px;
    


}

nav img {
    width: 110px;
    position: absolute;
    top: 0px;
    left: 12%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: #1b1c20;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}



nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #1b1c20;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: #1b1c20;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(fondo-formulario.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    /*margin: 0;*/
    /*padding: 10px 20px;*/
    box-sizing: border-box;
    margin-top: 20pxs;

}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #F4F4F4;
    padding: 10px;
}

#boton:hover {
    cursor: pointer;
}

p {
    color: white;
}

.RadioUno {
    color: white;
}

.RadioDos {
    color: white;
}

.RadioTres {
    color: white;
}

.checkboxs {
    color: white;
    text-align: center;
}

p {
    text-align: center;
}

label {
    color: white;
    text-align: center;
}

input {
    border-radius: 7px;
}

textarea {
    border-radius: 7px;
}

select {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 7px;

}

@media (max-width: 1440px){
    nav img {
        left: 8%;
    }

    form{
        width: 70%;
    }
   
}

@media (max-width: 1025px){
    nav img {
        left: 6%;
        top: 0px;
        width: 110px;
    }

    nav ul il a {

        font-size: 17px;
    }
     
    form{
        width: 70%;
    }
   
}

@media (max-width: 1024px){


    label #btn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

    form{
        width: 70%;
    }
  
}
