
@font-face {
    font-family: 'Oswald';
    src: url(Oswald-ExtraLight.ttf)
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header__img {
    width: 7rem;
}
.header__hamburguesa {
    display: none;
}

.header__hamburguesa-icono {
    display: none;
    position: relative;
    left: 55%;
    font-size: 2rem;
}

.header__hamburguesa-icono__x {
    display: none;
    position: relative;
    left: 55%;
    font-size: 3rem;
}







.header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: orange;
    width: 100%;
    padding: 1rem;
    background-color: white;
}

.header__nav {
    display: inline-flex;
}

.header__nav-links {
    margin: 0.5rem;
    text-decoration: none;
    color: #1b1c20;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
}


/* hover para los enlaces de navegacion */

.header__nav-container:hover {
    background-color: #1b1c20;
}

.header__nav-container:hover>.header__nav-links {
    color: white;
    text-decoration: underline;
}

.header__logos {
    display: flex;
    margin: 1rem;
}

.header__logos-imagen {
    background-size: cover;
    margin: 0.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: black 1rem;
}



.header__logos-imagen:hover {
    transform: scale(1.25);
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}


@media (max-width: 1044px) {
    
    .header {
        display: inline-block;
    }
    .header__nav {
        display: none;
    }
    .header__logos {
        display: none;
        margin: 0;
    }
    .header__hamburguesa {
        display: inline;
        visibility: hidden;
    }
    .header__hamburguesa-icono {
        display: inline;
    }
    .header__hamburguesa:checked~.header__nav {
        display: block;
    }
    .header__hamburguesa:checked~.header__logos {
        display: inline-flex;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono__x {
        display: inline;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono {
        display: none;
    }
}


body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(fondo-formulario.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    /*margin: 0;*/
    /*padding: 10px 20px;*/
    box-sizing: border-box;
    margin-top: 20pxs;

}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #F4F4F4;
    padding: 10px;
}

#boton:hover {
    cursor: pointer;
}

p {
    color: white;
}

.RadioUno {
    color: white;
}

.RadioDos {
    color: white;
}

.RadioTres {
    color: white;
}

.checkboxs {
    color: white;
    text-align: center;
}

p {
    text-align: center;
}

label {
    color: white;
    text-align: center;
}

input {
    border-radius: 7px;
}

textarea {
    border-radius: 7px;
}

select {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 7px;

}

@media (max-width: 1440px){
    nav img {
        left: 8%;
    }

    form{
        width: 70%;
    }
   
}

@media (max-width: 1025px){
    nav img {
        left: 6%;
        top: 0px;
        width: 110px;
    }

    nav ul il a {

        font-size: 17px;
    }
     
    form{
        width: 70%;
    }
   
}

@media (max-width: 1024px){


    label #btn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

    form{
        width: 70%;
    }
  
}
