@font-face {
    font-family: 'Oswald';
    src: url(Oswald-ExtraLight.ttf)
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header__img {
    width: 7rem;
}
.header__hamburguesa {
    display: none;
}

.header__hamburguesa-icono {
    display: none;
    position: relative;
    left: 55%;
    font-size: 2rem;
}

.header__hamburguesa-icono__x {
    display: none;
    position: relative;
    left: 55%;
    font-size: 3rem;
}







.header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: orange;
    width: 100%;
    padding: 1rem;
    background-color: white;
}

.header__nav {
    display: inline-flex;
}

.header__nav-links {
    margin: 0.5rem;
    text-decoration: none;
    color: #1b1c20;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
}


/* hover para los enlaces de navegacion */

.header__nav-container:hover {
    background-color: #1b1c20;
}

.header__nav-container:hover>.header__nav-links {
    color: white;
    text-decoration: underline;
}

.header__logos {
    display: flex;
    margin: 1rem;
}

.header__logos-imagen {
    background-size: cover;
    margin: 0.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: black 1rem;
}



.header__logos-imagen:hover {
    transform: scale(1.25);
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}


@media (max-width: 1044px) {
    
    .header {
        display: inline-block;
    }
    .header__nav {
        display: none;
    }
    .header__logos {
        display: none;
        margin: 0;
    }
    .header__hamburguesa {
        display: inline;
        visibility: hidden;
    }
    .header__hamburguesa-icono {
        display: inline;
    }
    .header__hamburguesa:checked~.header__nav {
        display: block;
    }
    .header__hamburguesa:checked~.header__logos {
        display: inline-flex;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono__x {
        display: inline;
    }
    .header__hamburguesa:checked~.header__hamburguesa-icono {
        display: none;
    }
}
